body {
    background-color: #F1EED6;color:#004544;margin:0;font-family: 'Times New Roman', Times, serif;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 30px;
}
.photo-row {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 30px;
}
.navbar {
    list-style: none;
    margin: 0;
    padding: 10px;

    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;

    background-color: #EBDA71;

    display: flex;
    align-items: center;
}


.navbar li {
    margin: 0 20px;
}

.navbar li a {
    color: #004544;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 15px;
    display: block;
}

.navbar li a:hover {
    color: #10B8B5;
}

.navbar .logo {
    margin-right: 10px;
}

.navbar .logo img {
    height: 45px;
    width: auto;
    display: block;
}

.navbar li:not(.logo) {
    flex: 1;
    text-align: center;
}
.navbar .title{margin-right: auto;
    font-size: 24px;
    color: #004544; }
.banner{
    width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: center 60%;
}

.chapter{
    list-style: none;
    padding: 0;
    width: 50%;

}
.chapter li{
    margin: 30px;
}
.chapter li a{
    display: block;
    padding: 20px;
    font-size: 24px;
    background-color: #FFEFB6;
    color: #004544;
    text-decoration: none;
    border-radius: 10px;
}
.chapter img{
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
.chapter a:hover{
    background-color: #EBDA71;
    color: #10B8B5;
}